.fast {
    .container {
        display: flex;
        gap: 160px;
        padding: 130px 60px 130px;
        background-color: #ffff;
    }
    &__content--wrapper {
        padding-top: 70px;
    }
    &__main-title {
        font-family: $fontRoboto;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #2A2C1F;
        margin-bottom: 30px;
    }
    &__text {
        font-family: $fontRoboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #65665C;
        margin-bottom: 40px;
    }
    &__info {
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-bottom: 30px;
        &--wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__info-title {
        font-family: $fontRoboto;
        font-weight: 700;
        font-size: 20px;
        color: #2A2C1F;
    }
    &__info-text {
        font-family: $fontRoboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #65665C;
    }
    &__icon {
        &--wrapper{
            background: #FAE8E1;
            border-radius: 8px;
            padding: 5px 8px;
            margin-bottom: 25px;
        }
    }
    .material-icons {
        color: #CF6F49;
    }
    .material-icons--button {
        color: #2A2C1F;
    }
    &__button {
        font-size: 16px;
    }
}